In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow as tf
import tensorflow_hub as hub
import tensorflow_text as text

In [20]:
df=pd.read_csv("spam.csv", encoding="latin")

In [21]:
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [22]:
df.shape

(5572, 5)

In [23]:
df["v1"].value_counts()

ham     4825
spam     747
Name: v1, dtype: int64

In [24]:
df.drop(columns=["Unnamed: 2", "Unnamed: 3", "Unnamed: 4"], inplace=True)

In [25]:
df.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [26]:
df.rename(columns={"v1":"spam", "v2":"content"}, inplace=True)

In [29]:
df_ham=df[df["spam"]=="ham"]

In [31]:
df_spam=df[df["spam"]=="spam"]

In [32]:
df_ham_sampled=df_ham.sample(df_spam.shape[0])

In [33]:
df_ham_sampled.shape

(747, 2)

In [34]:
df_spam.shape

(747, 2)

In [35]:
df_balanced=pd.concat([df_spam, df_ham_sampled])

In [36]:
df_balanced.head()

    spam                                            content
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
5   spam  FreeMsg Hey there darling it's been 3 week's n...
8   spam  WINNER!! As a valued network customer you have...
9   spam  Had your mobile 11 months or more? U R entitle...
11  spam  SIX chances to win CASH! From 100 to 20,000 po...

In [39]:
df["spam"]=df["spam"].apply(lambda x:1 if x=="spam" else 0)

In [42]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test= train_test_split(df["content"], df["spam"], test_size=0.2, stratify=df["spam"])

In [ ]:
bert_preprocess = hub.KerasLayer("https://tfhub.dev/tensorflow/bert_en_uncased_preprocess/3")
bert_encoder = hub.KerasLayer("https://tfhub.dev/tensorflow/bert_en_uncased_L-12_H-768_A-12/4")